@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,400&family=Roboto:wght@300;400&display=swap');

body * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.calculator-frame {
    background-color: #dfe0e8;
    width: 400px;
    min-height: 550px;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.calculator-frame > * {
    flex: 1 1 auto;
    width: 100%;
    border: none;
}

.result-display, .btn {
    border-radius: 8px;
}

.result-display {
    min-height: 125px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    border: 1px solid black;
}

.result-display > * {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 12px;
    padding-bottom: 12px;
    word-wrap: break-word;
    word-break: break-all;
}

.smaller-display {
    flex: 1 1 20px;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 0;
    color: #454747;
    display: flex;
    flex-wrap: wrap-reverse;
}

.larger-display {
    flex: 2 1 40px;
    font-size: 40px;
}

.buttons-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.button-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-row > .btn {
    flex: 1 1 25%;
    height: 60px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    background-color: #eeeeee;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #dddddd;
}

.btn:active {
    background-color: #bfbbbb;
}

.btn.orange {
    background-color: rgba(245, 123, 39, 0.8);
}

.btn.orange:hover {
    background-color: rgba(245, 123, 39, 1);
}

.btn.orange:active {
    background-color: rgba(178, 83, 19, 0.8);
}

.btn.number, .btn.operator, .result-display * {
    font-family: 'Roboto', sans-serif;
}

.footer {
    text-align: center;
}
